<Jumbo>
  <h2>Contact Us</h2>
  <p>
    At Super Rentals, we are dedicated to providing our customers with the best service possible. If you have any questions or concerns, please don't hesitate to contact us.
  </p>
  <address>
    Super Rentals HQ
    <p>
      Gandhi Maidan, Patna, Bihar, India
      <br />
      800001
    </p>
    <a href='tel:503.555.1212'>+91 123 456 7890</a><br />

    <a href='mailto:info@superrentals.com'>info@superrentals.com</a>
  </address>
  <LinkTo @route='about' class='button'>About</LinkTo>
</Jumbo>