<!DOCTYPE html>
<html lang="en">

<head>
     <title>Profile Page</title>
</head>

<body>
     <h1>
          Welcome <%= user.name %> !
     </h1>
     <p>
          Email: <%= user.email %>
     </p>
     <p>
          Age: <%= user.age %>
     </p>
     <ul>
          <% user.skills.forEach((item)=>{ %>
               <li>
                    <%= item %>
               </li>
               <% }) %>
     </ul>
     <a href="/">Back to Home</a>
</body>

</html>